Flask==2.1.2
Flask-Migrate==3.1.0
Flask-RESTx==0.5.1
Flask-SQLAlchemy==2.5.1
sqlalchemy_utils==0.38.2
Flask-Testing==0.8.1
Pillow==9.1.1
PyJWT==2.4.0
python-dotenv==0.20.0
SQLAlchemy==1.4.37
Flask-bcrypt==1.0.1
flask-script==2.0.6
flask-cors==3.0.10
Werkzeug==2.1.2
requests==2.28.0
alembic==1.8.0
Faker==13.12.1